<%- include('top.ejs') %>

        <section>
            <div class="today">
                <span>
                    <h3>Weather Today</h3>
                    <span class="loc-time">
                        <p><%= result.city %></p>
                        <p><%= result.time %></p>
                    </span>
                </span>
                <div class="flex">
                    <span>
                        <div class="weather-icon"><img src="<%= result.currentWeatherIcon %>"></div>
                    </span>
                    <span>
                        <h1><%= result.currentWeatherTemp %>°</h1>
                        <p><%= result.currentWeatherDes %></p>
                    </span>
                </div>
            </div>
            <div class="week">
                <%  result.dailySummary.slice(1).forEach((day) => { %>
                        <div class="day">
                            <span class="two">
                                <span><p class="large"><%= new Date(day.time).toLocaleDateString("en-US", { weekday: "long" }) %></p><p class="three"><%= ((day.minWeatherTemp + day.maxWeatherTemp) / 2).toFixed(1) %>°</p></span>
                                <p><%= day.weatherDes %></p>
                            </span>                        
                            <div class="one"><img src="<%= day.weatherIcon %>"></div>                            
                        </div>
                <% }) %>
                
                
            </div>
        </section>

<%- include('bottom.ejs') %>